$max-width: 150rem;
$max-width-large: 190rem;
$max-width-2: 100rem;

@mixin print() {
  @media print {
    @content;
  }
}

$tiny: 32rem;
$mobile: 48rem; // 768px
$tablet: 62rem; // 992px

@mixin tiny() {
  @media (min-width: $tiny) {
    @content;
  }
}

@mixin mobile() {
  @media (min-width: $mobile) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: $desktop) {
    @content;
  }
}
