/**
Define colors by semantic name here.
They can be used anywhere by importing via @use (see globals/theme.scss).
Also, 
*/

// text colors
$white: #ffffff;
$black: #000000;
$dark-purple: #161032;
// background colors
$jet: #353639;

// button stuff
$button-bg-black: $black;
$button-bg-white: $white;
// card colors
// $contact-background: $white;
