---
import "../styles/assets/css/modules/bubbles.css";
---

<script src="../js/modules/liquidLamp.js"></script>

<div class="wrap">
  <div class="blur">
    <canvas id="bubble"></canvas>
  </div>
</div>
