---
import Button from "./button.astro";
import "../styles/assets/css/modules/landing.css";
---

<script src="../js/modules/cards.js"></script>
<section class="landing default-typography">
  <h1>My Astro Landing Page</h1>
  <div class="slider">
    <div
      class="card"
      style={`--bg-img: url('https://neural.love/cdn/thumbnails/1ee71538-4c9c-6050-8243-89d6a2948a80/a4dd1200-7813-508d-a42f-a0c54bb285fa.webp?Expires=1767225599&Signature=eKw80gcesx9UId7G4kawxMDCduRQNIwtKpuuAIMsmAqJFSCS0zmJgaaTC8m-8f3YyibFz47EZIq4KBONRlhwhKWylV0chBXGgyIPyoQ7fH8k1B8h7KzN0zQl3GoelytChW~xPjQAGmJlI6sJy~5ZQqUoG3REYI~CUCOrJEoJGBRQsbrLnsdjBEoZSiTMh5oWQd7ojkVyNzEikLiAkuhbb8K1kiMIY3uTXvHpafpTcxsUrAFDv1nwt8Dzb1yX6hMA6EFK-FTcbED~1RxIyY0LN2oXS1lJqhYo5lDx7ukDKApgggXvzk2TDGL3287Yaol5l74rQwDp2BmED2U2D9a8Jw__&Key-Pair-Id=K2RFTOXRBNSROX')`}
    >
      <div class="content">
        <div class="headline">
          <h2>Inspo</h2>
          <p>
            The main inspiration behind the design for this site was Frutiger
            Aero. The background image for this slide is my attempt at
            replicating that style, though it didn’t start out this way. I began
            by creating the bubble background you see behind this card. It’s
            something I’ve wanted to experiment with for a while, and I figured
            this project would be the perfect opportunity. If I had the ability
            to conceptualize a better design, I would have gone in a different
            direction. However, the current design works for the limited content
            I have. Visually, I find the background I created appealing, but I’m
            still unsure how to integrate the content into it effectively.
          </p>
        </div>
        <Button href="https://github.com/CaelFoster/CaelFoster.github.io"
          >GitHub</Button
        >
      </div>
    </div>
    <div class="card" style={`--bg-img: url('Empty On Purpose :)')`}>
      <div class="content">
        <div class="headline">
          <h2>Challenges</h2>
          <p>
            The first few issues were easy to solve: getting the SCSS to compile
            and setting up global SCSS to keep things consistent with how I do
            things at work. However, I wasn't able to get my default typography
            mixins to work. I ended up scrapping the idea, though I kept them
            just in case they were a dependency for something else. After that,
            I focused on design choices. I'm a decent developer but not the best
            designer, so I decided to keep things simple. I added a few small
            animations I found in CodePen to make the site more visually
            interesting and then moved on to the content. The content honestly
            took me longer than anything else. I reused some card components
            from another project for convenience.
          </p>
        </div>
        <Button href="https://codepen.io/cfoster19">CodePen</Button>
      </div>
    </div>
    <div
      class="card"
      style={`--bg-img: url('https://miro.medium.com/v2/resize:fit:1400/1*0diXOcKMcyIaO0Xr6bji_w.jpeg')`}
    >
      <div class="content">
        <div class="headline">
          <h2>IMPORTANT!</h2>
          <p>
            I felt like it would be kinda cheesy to put my name on the screen so
            insead I added something to the custom div if you inspect the page,
            you'll see it better if you view the page source and scroll to the
            bottom. I felt like adding my name would disrupt the page flow, Ill
            put a list of both the pens I used code from below :) Also please
            ignore the jank when you scroll down, I layered the dom wrong.
          </p>
        </div>
        <div class="text-fields">
          <div class="copy">
            <a href="https://codepen.io/creativeocean/pen/ZEEOxmK"
              >Water animation and rays -></a
            >
          </div>
          <div class="copy">
            <a href="https://codepen.io/hbagency/pen/Nrdbdp"
              >Bubble Background -></a
            >
          </div>
        </div>
        <Button href="https://www.linkedin.com/in/cael-foster/">LinkedIn</Button
        >
      </div>
    </div>
  </div>
</section>
