---
import Button from "./button.astro";
import "../styles/assets/css/modules/landing.css";
---

<script src="../js/modules/cards.js"></script>
<section class="landing default-typography">
  <h1>CodeDex CSS FinalProject</h1>
  <div class="slider">
    <div class="card" style={`--bg-img: url('/IMG_1180.jpg')`}>
      <div class="content">
        <div class="headline">
          <h2>About</h2>
          <p>
            Im a college student nearing my last 2 quarters here at eastern
            university, I came here to persue a degree in computer science with
            a minor in web development, So far i've finished my minor and am now
            more focused on front and backend development than I am on software
            engineering. I'm getting better every day at what I do and I'm
            excited to see where my career takes me.
          </p>
        </div>
        <Button href="https://github.com/CaelFoster/CaelFoster.github.io"
          >GitHub</Button
        >
      </div>
    </div>
    <div class="card" style={`--bg-img: url('/IMG_9252.jpg')`}>
      <div class="content">
        <div class="headline">
          <h2>Contact Info</h2>
          <p>
            Each card will have a different button to where you can find me,
            Changing it would disrupt the flow of the page I created.
          </p>
        </div>
        <Button href="https://codepen.io/cfoster19">CodePen</Button>
      </div>
    </div>
    <div
      class="card"
      style={`--bg-img: url('https://miro.medium.com/v2/resize:fit:1400/1*0diXOcKMcyIaO0Xr6bji_w.jpeg')`}
    >
      <div class="content">
        <div class="headline">
          <h2>Projects</h2>
          <p>
            I dont have a whole ton of projects to list out but I do have sites
            that I've worked on, Ill list some pages that I've done.
          </p>
        </div>
        <div class="text-fields">
          <div class="copy">
            <a href="https://www.gorevolutionx.com/articles/"
              >Rev X articles -></a
            >
          </div>
          <div class="copy">
            <a href="https://propagandacreative.com/articles/"
              >Another Work in progress I've subcontracted for -></a
            >
          </div>
          <div class="copy">
            <a
              href="https://whitmancountypublichealth.org/environmental-health/hazards-and-toxics/extreme-heat"
              >Made a couple pages here for Whitman County -></a
            >
          </div>
        </div>
        <Button href="https://www.linkedin.com/in/cael-foster/">LinkedIn</Button
        >
      </div>
    </div>
  </div>
</section>
