// Define fonts here

@font-face {
  font-family: Segoe Alt;
  src: url("public/assets/fonts/ChivoMono[wght].woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Chivo Mono;
  src: url("public/assets/fonts/SegoeAlt.woff");
  font-weight: normal;
  font-style: normal;
}
