h1 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xl);
  font-weight: 400;
  line-height: 0.96;
  color: inherit;
}
h2 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-lg);
  font-weight: 400;
  line-height: 1.12;
  color: inherit;
}
h3 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-md);
  font-weight: 400;
  line-height: normal;
  color: inherit;
}
h4 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-sm);
  font-weight: 400;
  line-height: normal;
  color: inherit;
}
p {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-md);
  line-height: 1.6;
  font-weight: 400;
  color: inherit;
}
